{{>header}}
    <section>
        <div class="container-fluid d-flex justify-content-center mt-5 backmask">
            <h2>Dashboard usuario</h2>
                <div class="row" >
        <div class="col">

            <table class="table table-hover table-striped table-bordered table-light">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>fecha</th>
                        <th>cantidad</th>
                        <th>total</th>
                    </tr>
                </thead>

                <tbody>

                    {{#each data}}   
                    <tr>
                       <td>{{id}}</td>
                       <td>{{nombre}}</td>
                       <td>{{fecha}}</td>
                       <td>{{cantidad}}</td>
                       <td>{{total}}</td> 
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

        </div>
    </section>
{{>footer}}