{{>header}}
    <div class="container-fluid d-flex justify-content-center mt-5 vh-100">
        <h2>{{mensaje}}</h2>
            <div class="row justify-content-center align-content-center" >
                
                    <div class="col">
                        <table class="table table-hover table-striped table-bordered table-light">
                            <thead>
                                <tr class="text-center">
                                    {{!-- <th>Id</th> --}}
                                    <th>Nombre</th>
                                    <th>fecha</th>
                                    <th>cantidad</th>
                                    <th>precio</th>
                                    <th>total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                {{#each data}}   
                                <tr>
                               {{!--  <td>{{id}}</td> --}}
                                <td>{{nombre}}</td>
                                <td>{{fecha}}</td>
                                <td>{{cantidad}}</td>
                                <td>{{precio}}</td>
                                <td>{{total}}</td> 
                                 <form action="/finalizar/{{id}}" method="post">
                                <td><button type="submit" class="btn btn-primary">Finalizar compra</button></td>
                                </form>
                                <form action="/cancelar/{{id}}" method="post">
                                <td><button type="submit" class="btn btn-danger">Eliminar</button></td> 
                               </form>
                                </tr>
                                
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                    
                    <a href="/" class="d-block add-to-cart w-25 text-center" type="button">Volver</button>
                </form>
            </div>
        </div>

    </div>
{{>footer}}